.osnContaner {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/container_bg.png");
}

.menu {
  height: 30px;
  width: 100%;
  background-color: #616161;
}

.namePokemon {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}
.showAdwanced {
  text-align: center;
  color: white;
}

.groupCardPoc {
  display: flex;
  flex-wrap: wrap;
}

.cardPok {
  width: 18%;
  height: 100%;
  margin-left: 5%;
}

.img {
  width: 100%;
  height: 75%;
}

.typePok {
  display: flex;
}

.type {
  margin-right: 6%;
  background-color: aquamarine;
}

.grass {
  background-color: #9bcc50;
  border-radius: 3px;
  width: 39%;
  text-align: center;
  margin-right: 5%;
}

.poision {
  background-color: #b97fc9;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}

.fire {
  background-color: #fd7d24;
  border-radius: 3px;
  width: 39%;
  text-align: center;
  margin-right: 5%;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  border-radius: 3px;
  width: 39%;
  text-align: center;
}

.wather {
  background-color: #4592c4;
  border-radius: 3px;
  width: 39%;
  max-width: 110px;
  text-align: center;
}

.bug {
  background-color: #729f3f;
  border-radius: 3px;
  width: 39%;
  text-align: center;
  margin-right: 5%;
}
.dark {
  background-color: #a4a4a4;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.electric {
  background-color: #eed535;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.fairy {
  background-color: #fdb9e9;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.fighting {
  background-color: #d56723;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.ice {
  background-color: #51c4e7;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.normal {
  background-color: #a4acaf;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.psychic {
  background-color: #f366b9;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.rock {
  background-color: #a38c21;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
.steel {
  background-color: #9eb7b8;
  border-radius: 3px;
  width: 39%;
  text-align: center;
}
